* {
	margin: 0;
	font-family: 'PT Sans', sans-serif !important;
}

/* Containing Divs for Parallax */

.nav-wrapper img {
	width: 5%;
}


/*all timeline */

.parallax-styles {
	width: 100%;
	height: 500px;  /*change this when parallax is done */
	background: red;
	display: block;

}


/*text to right */
.odd {
	float: right;
	width: 50%;
}

/*text to left */
.even {
	float: left;
	width: 50%;
}